.champion-img {
    width: 40px;
    height: 40px;
    margin: 0px;
    padding: 0px;
    vertical-align: bottom;
    display: inline-block;
}

.champion-ban-img {
    width: 32px;
    height: 32px;
    margin: 0px;
    padding: 0px;
    vertical-align: bottom;
    filter: grayscale(100%);
    display: inline-block;
}

.item-img {
    width: 32px;
    height: 32px;
    margin: 2px;
    padding: 0px;
    display: inline-block;
    outline: 1px solid black;
    vertical-align: middle;
}

img.spell-img {
    width: 32px;
    height: 32px;
    margin: 2px;
    padding: 0px;
    display: inline;
    outline: 1px solid black;
}

img.rune-img {
    width: 32px;
    height: 32px;
    margin: 2px;
    padding: 0px;
    display: inline;
}

table {
    width: 100%;
}

.match-victory {
    background-color: rgba(64, 128, 255, 0.2);
}

.match-defeat {
    background-color: rgba(255, 64, 64, 0.2);
}

.bool-true {
    background-color: rgba(64, 128, 255, 0.2)!important;
}

.bool-false {
    background-color: rgba(255, 64, 64, 0.2)!important;
}

.sticky {
    position: sticky;
    top: 0px;
    background-color: #fff;
}

table td {
    text-align: right;
}

table th {
    text-align: right;
}

.tal {
    text-align: left;
}

.tar {
    text-align: right;
}

.tac {
    text-align: center;
}


/* From https://loading.io/css/ */

.lds-spinner {
    color: official;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: #888;
}

.lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}

@keyframes lds-spinner {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}